.location1:before, .location1:before {
    content: "\f3c5";
    position: fixed;
    top: 60vh;
    left: 59vh;
    color: red;
}

.localtion2 {
    content: "\f3c5";
    position: fixed;
    top: 30vh;
    right: 49vh;
    color: red;
}

.modal {
    display: none; /* Masquer la modal par défaut */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .img_balise_donnee_recuperer {
    display: content;

    margin: 20px;
  }

  .liste_donnee_collecte {
    margin-top: 2.5rem;
  }

  .heading {
    width: calc(100% - 2vw);
    height: 30vh;
    background-image: url(../assets/img/banc_de_sable.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1 {
    color: #fff;
    font-size: 5rem;

    text-shadow: 2px 0 0 #000, 2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, -2px 0 0 #000, -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000;
}

.equipage {
    width: 60vw;
    text-align: center;
    margin: 0 auto;
}

.equipage h2 {
    margin-top: 5%;
}

.equipage:nth-child(even){
    text-align: left;
}

.equipage:nth-child(odd){
    text-align: right;
}

.equipe {
    width: 60vw;
    display: flex;
}

.equipe img {
    width: 35%;
}

.equipe p {
    width: 55%;
}

/* .iframe {
    width: 100%;
    height: 100%;
} */

iframe {
    width: 100%;
}

#info-link {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;
  }
  


.link_spot {
    background-color:  blue;
    border: solid 2px black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    margin-top: 10PX;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.link_savoir_plus_spot {
    display: grid;
}

/* Style du select */
#date_donnee {
    display: block;
    margin-bottom: 10px;
  }
  
  /* Style du tableau */
  #donnees_list {
    margin-bottom: 10px;
    width: 100%;
    border-collapse: collapse;
    border: black;
  }
  
  #donnees_list th,
  #donnees_list td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  #donnees_list th {
    background-color: #f2f2f2;
  }
  
  /* Style du lien */
  .link_savoir_plus_spot {
    text-align: center;
  }
  
  .link_savoir_plus_spot a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .link_savoir_plus_spot a:hover {
    background-color: #0056b3;
  }

  #submit_date_donnees {
    padding: 10px;
    background-color: #007bff;
    border-radius: 10px;
    color: white;
    font-weight: bold;
  }

  #date_donnee {
    padding: 10px;
    border-radius: 10px;
    background-color: #aaa;
  }

  #date_donnee:focus{
    border: 2px solid #007bff;
  }

.temp {
    background-color: rgb(49, 209, 49);
}
.sal {
    background-color:rgb(49, 209, 49);
}
.chlo {
    background-color: orange;
}
.oxy {
    background-color:rgb(49, 209, 49);

}
.latitude {
    background-color: #007bff;
}
.longitude {
    background-color: #007bff;
}
